:root {
    --col-prim-blue: hsl(223, 87%, 63%);
    --col-sec-pale-blue:  hsl(223, 100%, 88%);
    --col-sec-light-red: hsl(354, 100%, 66%);
    --col-neut-gray: hsl(0, 0%, 59%);
    --col-neut-very-dark-blue: hsl(209, 33%, 12%);
    --col-neut-gray-transp: hsla(0, 0%, 59%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif!important;
}

html {
    font-size: 100%;
}


body {
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr .1fr;
}

header div.img-cont {
    padding: 1rem;
    margin-top: 2rem;
}

main {
    font-size: 1.25rem;
    min-height: 98dvh;
    display: grid;
    grid-auto-rows: auto;
}

section {
    display: grid;
    grid-template-rows: 1fr .5fr;
}

.main-cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 2rem;
    text-align: center;
}

.v-center {
    justify-items: center;
    justify-content: center;
}

h1 span {
    font-weight: 300;
    color: var(--col-neut-gray);
}

h1 {
    font-size: 1.5rem;
}

.subs {
    font-size: .85rem;
}
.img-cont img {
    max-width: 100%;
    height: auto;
}

.dashboard {
    width: calc(100% + 2rem);
}

form, form input, form button {
    width: 100%;
}

form {
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: .5rem;
    padding: 2rem 0;
    height: fit-content;
}

.hidden {
    display: none;
}

section footer {
    margin-top: auto;
}

form input, form button {
    padding: .8rem;
    border-radius: 2rem;
    max-height: 3em;
}

label.input {
    height: min-content;
}

.submit input {
    border: 1px solid var(--col-sec-pale-blue);
    padding-left: 2rem;
    opacity: .8;
}

.submit input::placeholder {
    color: var(--col-neut-gray);
    font-weight: 300;
    opacity: .6;
}

input.invalid {
    border: 2px solid var(--col-sec-light-red);
}

.submit button {
    background-color: var(--col-prim-blue);
    color: white;
    font-weight: 600;
    border: transparent;
    box-shadow: 0 10px 10px var(--col-sec-pale-blue);
}

.social-icons {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.social-icons svg{
    border: 1px solid var(--col-neut-gray-transp);
    border-radius: 50%;
    padding: .5rem;
    aspect-ratio: 1 / 1;
    color: var(--col-prim-blue)!important;
}

.copyright {
    font-size: .8rem;
    text-align: center;
    padding: .5rem;
    color: var(--col-neut-gray);
}

.error {
    padding-top: .5rem;
    width: 100%;
    text-align: center;
    font-size: .6em;
    color: var(--col-sec-light-red);
    font-style: italic;
    font-weight: 600;
    padding-bottom: 1rem;
}

@media screen and (min-width: 480px) {
    section {
        max-width: 44rem;
    }

    h1 {
        font-size: 2.5em;
    }

    form input, form button {
        border-radius: 2rem;
        max-height: 3.5rem;
        height: 3.5rem;
        font-size: 1rem;
    }

    .subs {
        font-size: 1em;
    }

    form {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

   .input {
        flex-grow: 2;
        position: relative;
    }

    .submit button {
        max-width: 14rem;
    }

    .error {
        position: absolute;
        bottom: -.5rem;
        left: 0rem;
        text-align: left;
        padding-left: 2em;
    }

    .dashboard {
        margin-top: 3rem;
    }
}